<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">
	<display-name>ru.bpc.sv2.prototype.web</display-name>
	<session-config>
		<session-timeout>20</session-timeout>
		<cookie-config>
			<name>svSessionIdDev</name>
			<path>/sv</path>
			<http-only>true</http-only>
			<secure>SECURE-FLAG-REPLACEMENT</secure>
		</cookie-config>
	</session-config>
	<welcome-file-list>
		<welcome-file>/pages/data.jsf</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Roox Servlet</servlet-name>
		<servlet-class>util.servlet.RooxServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>File Servlet</servlet-name>
		<servlet-class>util.servlet.FileServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JavaScriptServlet</servlet-name>
		<servlet-class>org.owasp.csrfguard.servlet.JavaScriptServlet</servlet-class>
		<init-param>
			<param-name>source-file</param-name>
			<param-value>/WEB-INF/Owasp.CsrfGuard.js</param-value>
		</init-param>
		<init-param>
			<param-name>inject-into-forms</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>inject-into-attributes</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>domain-strict</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavaScriptServlet</servlet-name>
		<url-pattern>/JavaScriptServlet</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<res-ref-name>jdbc/SVWeb</res-ref-name>
		<res-type>oracle.jdbc.pool.OracleDataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<context-param>
		<param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.expressionFactory</param-name>
		<param-value>com.sun.el.ExpressionFactoryImpl</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/fconfig-app-blocks.xml,/WEB-INF/faces-config-navigation.xml,/WEB-INF/faces-config-custom.xml,/WEB-INF/faces-config-context.xml</param-value>
	</context-param>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Roox Servlet</servlet-name>
		<url-pattern>/roox/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>File Servlet</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/bpc.taglib.xml; /WEB-INF/bpc.rf.taglib.xml; /WEB-INF/bpc_tiles.taglib.xml; /WEB-INF/facelets-ext.taglib.xml; /META-INF/formatter.taglib.xml</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.REFRESH_PERIOD</param-name>
		<param-value>-1</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>classic</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING</param-name>
		<param-value>disable</param-value>
	</context-param>

	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING_CLASSES</param-name>
		<param-value>enable</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
		<param-value>com.sun.facelets.FaceletViewHandler</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.cache.CACHE_MANAGER_FACTORY_CLASS</param-name>
		<param-value>ru.bpc.jsf.A4JResourceCacheFactory</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.jspx</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.LoadScriptStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param>
	<context-param>
		<param-name>org.openfaces.validation.disabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.openfaces.validation.clientValidation</param-name>
		<param-value>onDemand</param-value>
	</context-param>
	<context-param>
		<param-name>org.openfaces.validation.useDefaultClientPresentation</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.openfaces.forceIncludingUtilJs</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.serializeServerState</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.compressViewState</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DISABLE_FACELET_JSF_VIEWHANDLER</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- JSF RI Performance tuning -->
	<context-param>
		<param-name>com.sun.faces.responseBufferSize</param-name>
		<param-value>500000</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.verifyObjects</param-name>
		<param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.numberOfViewsInSession</param-name>
		<param-value>10</param-value>
	</context-param>

	<context-param>
		<param-name>com.sun.faces.numberOfLogicalViews</param-name>
		<param-value>10</param-value>
	</context-param>

	<!-- Allows the JavaScript to be cached -->
	<context-param>
		<param-name>com.sun.faces.externalizeJavaScript</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>externalProperties</param-name>
		<param-value>/etc/sv.properties</param-value>
	</context-param>

	<!-- OWASP CSRF Guard parameters -->
	<context-param>
		<param-name>Owasp.CsrfGuard.Config</param-name>
		<param-value>/WEB-INF/Owasp.CsrfGuard.properties</param-value>
	</context-param>

	<context-param>
		<param-name>Owasp.CsrfGuard.Config.Print</param-name>
		<param-value>true</param-value>
	</context-param>
	<!-- End of OWASP CSRF Guard parameters -->

	<filter>
		<display-name>AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>util.servlet.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>RichfacesFirefox</display-name>
		<filter-name>RichfacesFirefox</filter-name>
		<filter-class>util.servlet.filter.RichfacesFirefox</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RichfacesFirefox</filter-name>
		<url-pattern>/a4j/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>RichFaces Filter</display-name>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
		<init-param>
			<param-name>enable-cache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>forceparser</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ResourceFilter</filter-name>
		<filter-class>org.openfaces.util.ResourceFilter</filter-class>
	</filter>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>util.servlet.filter.EncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>NoCacheFilter</filter-name>
		<filter-class>util.servlet.filter.NoCacheFilter</filter-class>
	</filter>

	<filter>
		<filter-name>CSRFGuard</filter-name>
		<filter-class>org.owasp.csrfguard.CsrfGuardFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CSRFGuard</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>ClickjackFilter</display-name>
		<filter-name>ClickjackFilter</filter-name>
		<filter-class>util.servlet.filter.ClickjackFilter</filter-class>
		<init-param>
			<param-name>commonMode</param-name>
			<param-value>DENY</param-value>
		</init-param>
		<init-param>
			<param-name>fileMode</param-name>
			<param-value>SAMEORIGIN</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ClickjackFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>ResourceFilter</filter-name>
		<url-pattern>/openFacesResources/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResourceFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<listener>
		<display-name>InitLoggingListener</display-name>
		<listener-class>util.servlet.listener.InitLoggingListener</listener-class>
	</listener>
	<listener>
		<display-name>SessionListener</display-name>
		<listener-class>util.servlet.listener.SessionListener</listener-class>
	</listener>
	<listener>
		<display-name>ServletRequestListener</display-name>
		<listener-class>util.servlet.listener.ServletRequestListener</listener-class>
	</listener>
	<listener>
		<display-name>ContextInitializedListener</display-name>
		<listener-class>util.servlet.listener.ContextInitializedListener</listener-class>
	</listener>
	<listener>
		<display-name>ShedulerInitializedListener</display-name>
		<listener-class>util.servlet.listener.ShedulerInitializedListener</listener-class>
	</listener>
	<listener>
		<listener-class>util.servlet.listener.CsrfGuardContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.owasp.csrfguard.CsrfGuardHttpSessionListener</listener-class>
	</listener>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NoCacheFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<!--suppress WebProperties -->
		<location>/login.jsf</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/pages/error/error500.jsf</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/pages/error/error404.jsf</location>
	</error-page>
</web-app>
