<routes>
    <route>
        <from>activemq:queue:dbalInbox</from>
        <converter>com.bpcbt.sv.camel.converters.DbalConverter</converter>
        <to>activemq:queue:dbalOutbox</to>
    </route>
    <route>
        <from>activemq:queue:crefInbox</from>
        <converter>com.bpcbt.sv.camel.converters.CrefConverter</converter>
        <to>activemq:queue:crefOutbox</to>
    </route>
    <route>
        <from>activemq:queue:merchInbox</from>
        <converter>com.bpcbt.sv.camel.converters.MerchConverter</converter>
        <to>activemq:queue:merchOutbox</to>
    </route>
    <route>
        <from>activemq:queue:termInbox</from>
        <converter>com.bpcbt.sv.camel.converters.TermConverter</converter>
        <to>activemq:queue:termOutbox</to>
    </route>
    <route>
        <from>activemq:queue:notifInbox</from>
        <converter>com.bpcbt.sv.camel.converters.NotificationConverter</converter>
        <to>activemq:queue:notifOutbox</to>
    </route>
    <route>
        <from>activemq:queue:ratesInbox</from>
        <converter>com.bpcbt.sv.camel.converters.RateConverter</converter>
        <to>activemq:queue:ratesOutbox</to>
    </route>
    <route>
        <from>activemq:queue:productInbox</from>
        <converter>com.bpcbt.sv.camel.converters.PassThroughConverter</converter>
        <to>activemq:queue:productOutbox</to>
    </route>
    <route>
        <from>activemq:queue:rejectInbox</from>
        <converter>com.bpcbt.sv.camel.converters.RejectConverter</converter>
        <to>activemq:queue:rejectOutbox</to>
    </route>
    <route>
        <from>activemq:queue:postingInbox</from>
        <converter>com.bpcbt.sv.camel.converters.PostingConverter</converter>
        <converter>TOSTRING</converter>
        <to>activemq:queue:postingOutbox</to>
        <!--<to>activemq:queue:CUP_AUTH_QUEUE</to>-->
        <!--<to>activemq:queue:JCB_TRANSFER_IN</to>-->
        <!--<to>activemq:queue:DIN_AUTH</to>-->
        <encoding>UTF-8</encoding>
    </route>

    <route>
        <from>direct:balances</from>
        <converter>com.bpcbt.sv.camel.converters.DbalConverter</converter>
        <to>direct:unload</to>
    </route>
    <route>
        <from>direct:cards</from>
        <converter>com.bpcbt.sv.camel.converters.CrefConverter</converter>
        <to>direct:unload</to>
    </route>
    <route>
        <from>direct:merchants</from>
        <converter>com.bpcbt.sv.camel.converters.MerchConverter</converter>
        <to>direct:unload</to>
    </route>
    <route>
        <from>direct:terminals</from>
        <converter>com.bpcbt.sv.camel.converters.TermConverter</converter>
        <to>direct:unload</to>
    </route>
    <route>
        <from>direct:notifications</from>
        <converter>com.bpcbt.sv.camel.converters.NotificationConverter</converter>
        <to>direct:unload</to>
    </route>
    <route>
        <from>direct:rates</from>
        <converter>com.bpcbt.sv.camel.converters.RateConverter</converter>
        <to>direct:unload</to>
    </route>
    <route>
        <from>direct:products</from>
        <converter>com.bpcbt.sv.camel.converters.PassThroughConverter</converter>
        <to>direct:unload</to>
    </route>
    <route>
        <from>direct:reject</from>
        <converter>com.bpcbt.sv.camel.converters.RejectConverter</converter>
        <to>bean:clientJdbc?method=save</to>
        <to>direct:response</to>
    </route>
    <route>
        <from>direct:posting</from>
        <converter>com.bpcbt.sv.camel.converters.PostingConverter</converter>
        <to>direct:splitXmlByHash</to>
    </route>

    <route>
        <from>direct:iBankInbox</from>
        <converter>com.bpcbt.sv.camel.converters.SvipToISO8583</converter>
        <to>mina2:tcp://localhost:49002?sync=true&amp;timeout=10000&amp;codec=#encoder</to>
        <converter>com.bpcbt.sv.camel.converters.ISO8583ToSvip</converter>
    </route>

    <route>
        <from>activemq:queue:iBankInbox</from>
        <converter>com.bpcbt.sv.camel.converters.SvipToISO8583</converter>
        <to>mina2:tcp://localhost:49002?sync=true&amp;codec=#encoder</to>
        <converter>com.bpcbt.sv.camel.converters.ISO8583ToSvip</converter>
        <to>activemq:queue:iBankOutbox?timeToLive=10000</to>
        <encoding>UTF-8</encoding>
    </route>

    <route>
        <from>mina2:tcp://localhost:49003?sync=true&amp;codec=#encoder2</from>
        <converter>com.bpcbt.sv.camel.converters.ISO8583ToSvip</converter>
        <to>direct:svip_client</to>
        <converter>com.bpcbt.sv.camel.converters.SvipToISOePay</converter>
    </route>
</routes>
