/JavaRushTasks/.idea
/JavaRushTasks/out
*.png
/JavaRushTasks/JavaRushPlugin.properties
/JavaRushTasks/JavaRushTasks.iml
/JavaRushTasks/out.log
/JavaRushTasks/1.JavaSyntax/*.iml
/JavaRushTasks/1.JavaSyntax/src/*.info
/JavaRushTasks/3.JavaMultithreading/3.JavaMultithreading.iml
*.info
/JavaRushTasks/4.JavaCollections/*.iml
/JavaRushTasks/4.JavaCollections/src/*.info
/JavaRushTasks/5.OnlineInternship/*.iml
/JavaRushTasks/5.OnlineInternship/src/*.info
/JavaRushTasks/5.OnlineInternship/src/Internship.info
/JavaRushTasks/5.OnlineInternship/5.OnlineInternship.iml
