<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ru.bpc.sv.ia.cyberplat</display-name>
  <welcome-file-list>
    <welcome-file>/cyberplat-interface</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cyberplat-interface</servlet-name>
    <servlet-class>ru.bpc.servlet.CyberplatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cyberplat-interface</servlet-name>
    <url-pattern>/cyberplat-interface/*</url-pattern>
  </servlet-mapping>
  <security-role>
    <role-name>SV_AUTHED</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>marks</web-resource-name>
      <url-pattern>/cyberplat-interface/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>SV_AUTHED</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>myrealm</realm-name>
  </login-config>
</web-app>