/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 12pt;
 font-family: Calibri,Vectora,'Droid Sans','Open Sans',Frutiger,sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_AttentionBox /* AttentionBox */
{
}
span.f_Callouts /* Callouts */
{
 font-size: 10pt;
}
span.f_CodeExample /* Code Example */
{
 font-size: 11pt;
 font-family: Consolas;
}
span.f_Comment /* Comment */
{
}
span.f_FigureSpace /* Figure Space */
{
 font-family: 'Comic Sans MS',cursive;
 color: #993366;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 22pt;
 font-weight: bold;
 color: #005cab;
}
span.f_Heading2 /* Heading2 */
{
 font-size: 16pt;
 font-weight: bold;
 color: #5e95d4;
}
span.f_Heading3 /* Heading3 */
{
 font-size: 13pt;
 font-weight: bold;
 color: #5e95d4;
}
span.f_Heading4 /* Heading4 */
{
 font-style: italic;
 font-weight: bold;
 color: #5e95d4;
}
span.f_Heading5 /* Heading5 */
{
 font-style: italic;
 font-weight: bold;
 color: #5e95d4;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 10pt;
 font-style: italic;
}
span.f_Msgblock /* Msgblock */
{
 font-size: 11pt;
 font-family: Consolas;
}
span.f_NoSpacing /* No Spacing */
{
}
span.f_NormalIndent1 /* Normal Indent 1 */
{
}
span.f_NormalIndent2 /* Normal Indent 2 */
{
}
span.f_Notes /* Notes */
{
}
span.f_NotesBox /* NotesBox */
{
}
span.f_T_Cite /* T_Cite */
{
 font-style: italic;
}
span.f_T_Cmdname /* T_Cmdname */
{
 font-size: 11pt;
 font-family: Consolas;
 font-weight: bold;
}
span.f_T_Codeph /* T_Codeph */
{
 font-size: 11pt;
 font-family: Consolas;
}
span.f_T_Comment /* T_Comment */
{
 font-family: 'Comic Sans MS',cursive;
 color: #ca0065;
 background-color: #ffcae4;
}
span.f_T_Emphasis /* T_Emphasis */
{
 font-style: italic;
}
span.f_T_Filepath /* T_Filepath */
{
 font-size: 11pt;
 font-family: Consolas;
}
span.f_T_Option /* T_Option */
{
 font-size: 11pt;
 font-family: Consolas;
}
span.f_T_Parmname /* T_Parmname */
{
 font-size: 11pt;
 font-family: Consolas;
 font-weight: bold;
}
span.f_T_Strong /* T_Strong */
{
 font-weight: bold;
}
span.f_T_Systemoutput /* T_Systemoutput */
{
 font-size: 11pt;
 font-family: Consolas;
}
span.f_T_Term /* T_Term */
{
 font-style: italic;
 color: #005cab;
}
span.f_T_UIcontrol /* T_UIcontrol */
{
 font-weight: bold;
 color: #505050;
}
span.f_T_Userinput /* T_Userinput */
{
 font-size: 11pt;
 font-family: Consolas;
 color: #505050;
}
span.f_T_Varname /* T_Varname */
{
 font-style: italic;
 color: #800000;
}
span.f_TableHeadingText /* Table Heading Text */
{
 font-size: 13pt;
 font-weight: bold;
 color: #005cab;
}
span.f_TableHeadingTextWhite /* Table Heading Text White */
{
 font-size: 13pt;
 font-weight: bold;
 color: #ffffff;
}
span.f_TableRowHeadingText /* Table Row Heading Text */
{
 font-weight: bold;
}
span.f_TipHeading /* Tip Heading */
{
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 8px 0px;
}
.p_AttentionBox /* AttentionBox */
{
 font-size: 12pt;
 border-color: #ffcc00;
 border-style: solid;
 border-width: 2px;
 padding: 3px 3px 3px 3px;
 margin: 6px 5px 5px 5px;
}
.p_Callouts /* Callouts */
{
 font-size: 10pt;
 margin: 0px 0px 5px 0px;
}
.p_CodeExample /* Code Example */
{
 font-size: 11pt;
 line-height: 1.0;
 white-space: nowrap;
 border-color: #d9d9d9;
 border-style: solid;
 border-width: thin;
 background: #f2f2f2;
 padding: 3px 3px 3px 3px;
 margin: 5px 0px 10px 0px;
}
.p_Comment /* Comment */
{
 font-size: 12pt;
 text-align: center;
}
.p_FigureSpace /* Figure Space */
{
 font-size: 12pt;
 margin: 16px 0px 16px 0px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 8px 0px;
}
.p_Heading2 /* Heading2 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.p_Heading3 /* Heading3 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.p_Heading4 /* Heading4 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.p_Heading5 /* Heading5 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 8px 0px 4px 0px;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 10pt;
 text-align: center;
 margin: 4px 0px 8px 0px;
}
.p_Msgblock /* Msgblock */
{
 font-size: 11pt;
 border-color: #ccffff;
 border-style: solid;
 border-width: thin;
 background: #ebffff;
 padding: 3px 3px 3px 3px;
 margin: 0px 0px 5px 0px;
}
.p_NoSpacing /* No Spacing */
{
 font-size: 12pt;
 margin: 0px 0px 0px 0px;
}
.p_NormalIndent1 /* Normal Indent 1 */
{
 font-size: 12pt;
 margin: 0px 0px 8px 19px;
}
.p_NormalIndent2 /* Normal Indent 2 */
{
 font-size: 12pt;
 margin: 0px 0px 8px 37px;
}
.p_Notes /* Notes */
{
 font-size: 12pt;
}
.p_NotesBox /* NotesBox */
{
 font-size: 12pt;
 border-color: #cdddf1;
 border-style: solid;
 border-width: thin;
 background: #ecf2fb;
 padding: 3px 3px 3px 3px;
 margin: 6px 5px 5px 5px;
}
.p_T_Comment /* T_Comment */
{
 font-size: 12pt;
}
.p_T_Strong /* T_Strong */
{
 font-size: 12pt;
}
.p_TableHeadingText /* Table Heading Text */
{
 font-size: 13pt;
}
.p_TableHeadingTextWhite /* Table Heading Text White */
{
 font-size: 13pt;
}
.p_TableRowHeadingText /* Table Row Heading Text */
{
 font-size: 12pt;
}
.p_TipHeading /* Tip Heading */
{
 font-size: 12pt;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 6px;
  border:1px solid #000000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1)  }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01; filter:alpha(opacity=1) }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3; filter:alpha(opacity=30); }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3; filter:alpha(opacity=30); }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3; filter:alpha(opacity=30) }
