<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMapConfig PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-config-2.dtd">

<sqlMapConfig>

    <properties resource="ru/bpc/sv2/logic/config.properties " />

    <settings useStatementNamespaces="true"/>

    <typeAlias alias="qparams" type="ru.bpc.sv2.logic.utility.db.QueryParams"/>

    <transactionManager type="JDBC">
        <dataSource type="SIMPLE">
            <property name="JDBC.Driver" value="${db.driver}" />
            <property name="JDBC.ConnectionURL" value="${db.url}" />
            <property name="JDBC.Username" value="${db.username}" />
            <property name="JDBC.Password" value="${db.psw}" />
        </dataSource>
    </transactionManager>

    <sqlMap resource="EventsSqlMap.xml" />

</sqlMapConfig>