span.widgetThumbnail {
	display: inline-block;
	background-repeat: no-repeat;
	margin-top: 1px;
	vertical-align: middle;
	margin-right: 1px;
}

span.accounts {
	background-image: url(../../images/widgets/accounts.jpg);
	width: 24px;
	height: 24px;
}

span.operations {
	background-image: url(../../images/widgets/operations.jpg);
	width: 24px;
	height: 24px;
}

span.payments {
	background-image: url(../../images/widgets/payments.jpg);
	width: 24px;
	height: 24px;
}

span.applications {
	background-image: url(../../images/widgets/applications.jpg);
	width: 24px;
	height: 24px;
}

span.noimage {
	background-image: url(../../images/widgets/noimage.jpg);
	width: 24px;
	height: 24px;
}