.columnWidth-1,
.columnWidth-2,
.columnWidth-3,
.columnWidth-4 {
	vertical-align: top;
}
	.columnWidth-1 {
		width: 25%;
	}
	.columnWidth-2 {
		width: 50%;
	}
	.columnWidth-3 {
		width: 75%;
	}
	.columnWidth-4 {
		width: 100%;
	}

.widgets .existWidget,
.widgets .removeButton {
	border: 1px solid #aaaaaa;
}
.widgets .emptyWidget,
.widgets .existWidget {
	width: 100%;
}

.widgets .emptyWidget {
	background-color: #fafafa;
	border: 1px solid #CCCCCC;
	height: 250px;
	border-radius: 7px; /* for browsers which support css3 (opera10, chrome, safari) */
	-moz-border-radius: 7px; /* for firefox */
}

.widgets .existWidget {
	position: relative;
	height: 250px;
	background-color: #dddddd;
	border-radius: 7px; /* for browsers which support css3 (opera10, chrome, safari) */
	-moz-border-radius: 7px; /* for firefox */
	text-align: center;
	/* padding-top: 70px; */
	font-size: 20px;
	text-shadow: 1px 1px #FFFFFF;
	color: #666666;
    font-family: Arial,Helvetica,sans-serif;
}
.widgets .removeButton {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 18px;
	height: 18px;
	cursor: pointer;
	border-radius: 0 7px 0 7px; /* for browsers which support css3 (opera10, chrome, safari) */
	-moz-border-radius: 0 7px 0 7px; /* for firefox */
	border-top: none;
	border-right: none;
}
	.widgets .removeButton:hover {
		background-color: #FFFFFF;
	}

.help {
	background-color: #ffffaa;
	padding: 10px 10px;;
	font-style: italic;
	border-radius: 7px; /* for browsers which support css3 (opera10, chrome, safari) */
	-moz-border-radius: 7px; /* for firefox */
}
/*
 * Widget slider classes
 */
.slidingWidget {
	position: relative;
}
.cutHeight {
	height: 360px;
	overflow-y: hidden;
}
.hidingDiv {
	position: absolute;
	height: 40px;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(../../image/common/widgets/widget-hiding-bg.png);
}
	.hidingDiv .cut {
		padding-top: 20px;
		padding-right: 4px;
		text-align: right;
	}
	.hidingDiv .full {
		padding-top: 5px;
	}
	.hidingDiv a.notDisplay {
		display: none;
	}
.rePosition {
	position: relative;
}
/*
 * ----------------------------------
 */

/*
 * RichFaces styles redefinition
 */
.drgind_accept .drgind_marker,
.drgind_default .drgind_marker {
    background-color: #FAFAFA;
    border-bottom-color: #AAAAAA;
    border-left-color: #AAAAAA;
    border-top-color: #AAAAAA;
    vertical-align: top;
}
.drgind_reject .drgind_marker {
    background-color: #FAFAFA;
    border-bottom-color: #AAAAAA;
    border-left-color: #AAAAAA;
    border-top-color: #AAAAAA;
    vertical-align: top;
}
.drgind_marker {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    vertical-align: top;
}
.drgind_text {
    background-color: #FAFAFA;
    border-bottom-color: #AAAAAA;
    border-right-color: #AAAAAA;
    border-top-color: #AAAAAA;
    color: #000000;
}
.drgind_text {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    border-top-style: solid;
    border-top-width: 1px;
}
.drgind_text_content {
    font-weight: normal;
    font-size: 18px;
	text-shadow: 1px 1px #FFFFFF;
	color: #666666;
    font-family: Arial,Helvetica,sans-serif;
}
.drgind_wordcut {
    float: left;
    overflow: hidden;
    padding: 0 10px 0 3px;
    white-space: nowrap;
    width: 100%;
}

.wgtdt-cell {
    border-bottom: 1px solid #D7DAC2;
    border-right: 1px solid #D7DAC2;
    color: #000000;
    font-family: Tahoma,Myriad Pro,Helvetica;
    font-size: 11px;
    padding: 4px;
    text-align: left;
}