.sss-left-menu{
	width:30%;
	height:100%;
	background:white;
	white-space:nowrap;
	overflow:auto;
	float:left;
	border-right: 2px solid rgb(215, 218, 194);
}
.sss-data-input-space{
    float:left;
	background:white;
	width:69.5%;
	height:100%;
	overflow:auto;
}
.sss-padding{
	height:95%;
	padding:2%;
}