.firstCol-custom{
	text-align: right;
	#width: 110px;
	white-space: nowrap;
	vertical-align: top;
}

.firstCol-custom label{
	padding-top: 2px;
	padding-left: 15px;
	right:0;
	text-align:right;
	white-space: nowrap;
	width: 250px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.secondCol-custom {
	width: 100px;
}

.secondCol-custom input{
	width: 100px;
}