.tab-cell1 {
	height: 34px !important;
	width: 200px;
	margin-right: -7px;
	text-align: center;
}

.active-tab-cell1 {
	background: url("../images/tabHeader_first_f.png") no-repeat !important;
	margin-top: 1px;
	font-weight: bold;
}

.inactive-tab-cell1 {
	background: url("../images/tabHeader_first_f1.png") #eff0e6 no-repeat
	!important;
}

.tabs1 {
	background: url("../images/tabheader_bg.png") !important;
	padding-bottom: 5px;
	border-top-left-radius: 2ex;
	border-top-right-radius: 2ex;
	-webkit-border-radius-topleft: 2ex;
	-webkit-border-radius-topright: 2ex;
	-moz-border-radius-topleft: 2ex;
	-moz-border-radius-topright: 2ex;
}

.shrink_tab {
	margin: -7px 0 -7px 0;
}

.tab-cell1 {
	height: 34px !important;
	width: 170px;
	margin-right: -7px;
	text-align: center;
}

.active-tab-cell1 {
	background: url("../images/tabHeader_first_f.png") no-repeat !important;
	margin-top: 1px;
	font-weight: bold;
}

.inactive-tab-cell1 {
	background: url("../images/tabHeader_first_f1.png") #eff0e6 no-repeat
	!important;
}

.tabs1 {
	background: url("../images/tabheader_bg.png") !important;
	padding-bottom: 5px;
	border-top-left-radius: 2ex;
	border-top-right-radius: 2ex;
	-webkit-border-radius-topleft: 2ex;
	-webkit-border-radius-topright: 2ex;
	-moz-border-radius-topleft: 2ex;
	-moz-border-radius-topright: 2ex;
}

.tab-cell2 {
	height: 34px !important;
	width: 280px;
	margin-right: -7px;
	text-align: center;
}

.active-tab-cell2 {
	background: url("../images/tabHeader_first_f_l.png") no-repeat
	!important;
	margin-top: 1px;
	font-weight: bold;
}

.inactive-tab-cell2 {
	background: url("../images/tabHeader_first_f1_l1.png") #eff0e6 no-repeat
	!important;
}

.shrink_tab {
	margin: -7px 0 -7px 0;
}

.radius-topLeftRight-block {
	background: #eff0e6 !important;
	padding: 5px !important;
	border-top-left-radius: 2ex;
	border-top-right-radius: 2ex;
	-webkit-border-radius-topleft: 2ex;
	-webkit-border-radius-topright: 2ex;
	-moz-border-radius-topleft: 2ex;
	-moz-border-radius-topright: 2ex;
}

.radius-bottomtRight-block {
	background: #eff0e6 !important;
	padding: 5px 0 5px 0 !important;
	border-bottom-right-radius: 2ex;
	-webkit-border-radius-bottomright: 2ex;
	-moz-border-radius-bottomright: 2ex;
}

.normal-block {
	background: #eff0e6 !important;
	padding: 5px !important;
}

.label-style1,.label-style2,.label-style3 {
	height: 26px;
	vertical-align: middle;
	text-align: right;
	padding-right: 3px;
	font-weight: bold;
}

.label-style1 {
	width: 180px !important;
	min-width: 180px !important;
	max-width: 180px !important;
}

.label-style2 {
	width: 180px !important;
	min-width: 180px !important;
	max-width: 180px !important;
	padding-left: 35px !important;
}

.label-style3 {
	width: 210px !important;
	min-width: 210px !important;
	max-width: 210px !important;
}

.buttonSpace {
	margin: 4px 4px 0 0;
}

.oneColumn_block {
	background: #eff0e6 url(../_img/search_corner_lt.gif) no-repeat 0 0;
	width: auto;
	font-weight: bold;
	margin-bottom: 10px;
}

.oneColumn_block table {
	border-collapse: collapse;
}

.oneColumn_block TD {
	border: none;
	color: #272F36;
	white-space: nowrap;
}

.oneColumn_block INPUT[type="text"],.oneColumn_block INPUT[type="password"]
{
	background-color: #ffffff;
	border: 1px solid #999;
	margin: 2px 8px;
	padding: 1px 2px;
	height: 13px;
	width: 100%;
	max-width: 500px;
}

.oneColumn_block textarea
{
    background-color: #ffffff;
    border: 1px solid #999;
    margin: 2px 8px;
    padding: 1px 2px;
    height: 32px;
    width: 100%;
    max-width: 500px;
}

.oneColumn_block SELECT {
	background-color: #ffffff;
	border: 1px solid #999;
	margin: 2px 8px;
	padding-left: 2px;
	width: 100%;
	max-width: 506px;
}

.oneColumn_block input[type="checkbox"] {
	margin: 2px 8px;
	padding-left: 2px;
}

.firstCol1 {
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.firstCol2 {
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.firstCol3 {
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.firstCol4 {
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.firstCol1 label {
	padding-top: 2px;
	padding-left: 15px;
	right: 0;
	text-align: right;
	white-space: nowrap;
	width: 120px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.firstCol2 label {
	padding-top: 2px;
	padding-left: 15px;
	right: 0;
	text-align: right;
	white-space: nowrap;
	width: 150px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.firstCol3 label {
	padding-top: 2px;
	padding-left: 15px;
	right: 0;
	text-align: right;
	white-space: nowrap;
	width: 180px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.firstCol4 label {
	padding-top: 2px;
	padding-left: 15px;
	right: 0;
	text-align: right;
	white-space: nowrap;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
	min-width: 260px !important;
}

.res-table-header {
	border-right: none !important;
}

.search_result_block_left {
	padding-right: 2px !important;
}

.extdt-noData-cell {
	border-right: none !important;
	border-left: none !important;
}

.rich-extdt-subheadercell {
	border-right: none !important;
}

.decrease2maginRight {
	margin-right: -2px;
}

.rich-shuttle-target-row-selected{
    background: #808080 none repeat-x scroll left top ;
}

