button { 
	position: relative;
	border: none; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}

button[disabled] {
	color: #777777;
	border: none; 
}
	
button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}

button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}


/* OPTIONAL BUTTON STYLES for applying custom look and feel: */		
button.pzKpfwBtn { 
	padding: 0 11px 0 0; 
	font-size:11px; 
	text-align: center; 
	background: transparent url(../_img/right-grad.png) no-repeat right; 
	background-position-y: 0;
	height: 25px;
}

button.pzKpfwBtn[disabled] {
	background: transparent url(../_img/right-grad.png) no-repeat right; 
}
	
button.pzKpfwBtn span {
	padding: 5px 0 0 11px; 
	height:20px; 
	background: transparent url(../_img/left-grad.png) no-repeat left; 
	background-position-y: 0;
	white-space: nowrap;
}
	
button.pzKpfwBtn:active, button.pzKpfwBtnActive { 
	background:url(../_img/right-grad-pushed.png) right no-repeat; 
	background-position-y: 0;
}
button.pzKpfwBtn:active span, button.pzKpfwBtnActive span { 
	background:url(../_img/left-grad-pushed.png) left no-repeat;
	background-position-y: 0;
}

button.pzKpfwBtn[disabled]:active, button.pzKpfwBtnActive[disabled] { 
	background: transparent url(../_img/right-grad.png) no-repeat right;
}
button.pzKpfwBtn[disabled]:active span, button.pzKpfwBtnActive[disabled] span { 
	background: transparent url(../_img/left-grad.png) no-repeat left; 
}

button.pzKpfwBtn span img {
	vertical-align: middle;
	padding-right: 5px;
}
