@import "widgets/widgets.css";
@import "widgets/widgetThumbnail.css";

html {
    overflow-y: scroll;
}

.rich-sdt-header-cell-body {
	color: #000;
	text-align: right;
	font-weight: bold;
	font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
	padding: 6px 6px 0px 6px;
	height: 27px;
}

.rich-sdt-column-cell-body {
	color: #000;
	text-align: right;
	font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
	padding: 2px 6px 2px 6px;
	height: 15px;
}

.tab-content-menu{
	border-width: 0px!important;
	padding: 0px;
	background: transparent;
	margin-top: -2px;

}
.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.search_block_tabs{
	margin-bottom: 10px;
}

.search_block_tab, .search_block_tabs{
	position: relative;
}

.search_block_inner{
}

.search_result_block_inner{
	height:255px;
	padding:0px;
	margin:0px;
}

.search_result_block_tree_inner{
	height:255px;
	padding:0px;
	margin:0px;
}

.search_block_inner-hidden{
	overflow:hidden;
	height:69px;
}

.search_result_block-expand .show-more-vert {
    background-position: 0 0;
}

.search_result_block-expand .collapse-vert {
    background-position: -30px 0;
}

.search_block_inner-hidden-filter{
	overflow:hidden;
	height:96px;
}

.search_block_inner-show{
	min-height: 71px;
}

.search_block_inner-show-filter{
	min-height: 96px;
}

.lay {
	display:none;
}
input[type="text"]{
	width:200px;
}
select, input[type="select"]{
	width:205px;
}
input[type="checkbox"] {
	padding: 0;	/* for IE */
	width: auto;
	height: auto;
}

img {
	border-width: 0px;
}

body {
	font-size: 8pt;
	height: 100%;
}
.top {
	vertical-align: top;
}


BODY {
	background: white url(../_img/bg_body.png) repeat-y left top !important;
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif !important;
	font: 11px !important;
	color: #272F36 !important;
	margin: 0px !important;
	padding: 0px !important;
	min-width: 1000px !important;
}

input, select, option, textarea {
	font: 11px Tahoma, Myriad Pro, Helvetica;
}
option {
	overflow:visible;
	max-width:550px;
}
input[type="checkbox"] {
	height: 13px;
	margin: 0;
}
a {color: #2486C8;}
a:hover {color: #272F36;}

a.logoutlink, a.myfavoritslink, a.dashboardslink, a.settingslink, a.helplink, a.addfavoritslink, a.morelink, a.clearlink, a.filterlink{
font-weight: bold; padding:0px 0px 5px 30px;
}
a.logoutlink{background: url(../_img/icon_logout.png) no-repeat 10px top;}
a.myfavoritslink{background: url(../_img/icon_myfavorits.png) no-repeat 10px top;}
a.addfavoritslink{background: url(../_img/icon_addfavorits.png) no-repeat 10px top;}
a.removefavoritslink{background: url(../_img/icon_removefavourites.png) no-repeat 10px top;}
a.settingslink{background: url(../_img/icon_settings.png) no-repeat 10px top;}
a.helplink{background: url(../_img/icon_help.png) no-repeat 10px top;}
a.morelink{background: url(../_img/icon_more.png) no-repeat right top;}
a.dashboardslink{background: url(../images/icon_pin_blue.png) no-repeat 10px top;}
/*a.clearlink{background: url(../_img/icon_clear.png) no-repeat 10px top;}*/
.addfavoritslink {
    position: absolute;
    top: 10px;
    right: 35px;
    padding-left: 20px;
}

.addfavoritslink1 {
    background: url(../_img/icon_addfavorits.png) no-repeat 0px top;
    font-size: 12px;
    margin-left: 20px;
    padding-left: 20px;
}
.addfavoritslink1 a {
    text-decoration: none;
    border-bottom: 1px dashed #2486C8;
    font-weight: bold;
    line-height: 16px;
}
h1{
	color: #2ca8e6;
	font-weight: normal;
	font-size: 22px;
	padding-left: 15px;
}

.bigHeader{
	color: #2ca8e6;
	font-weight: normal;
	font-size: 22px;
	padding-left: 15px;
}

h4 {color: #949494!important; margin: 0px; padding: 0px; font-size: 14px;}
h5{	font-weight: normal; font-size: 20px;}

/*header*/
.header{
	/*background: url(../_img/silver_bg.gif) repeat-x scroll left top transparent;
	*/
	background: #F2F3EB;	
	border-bottom: 2px solid #DFE1CE;
	width: auto;
	height: 42px;
	font-size: 12px;

	position: relative;
	margin-left:-20px;
}

#logo{
	background: no-repeat left 2px ;
	width: 150px;
	text-align: left;
	padding: 4px;
	margin-left:35px;
	float: left;
	height: 37px;

}
#userblock{	margin-left: 233px;	padding-top: 14px;}
#userblock form {height: 14px;}

#iconblock { float: right;	height: 44px;	position: absolute;	right: 35px; top: 12px;}
#iconblock a { line-height: 20px;}
/*end header*/

/* {{{ left menu*/
.mainmenu{
    margin: 0px;
	color: #00C2FF;
	font-weight: bold;
/*	text-align: center;*/
	padding: 11px 27px 11px 10px;
	width: 193px;
	position: absolute;
	top: 44px;
	left: 0px;
	background: white url(../_img/bg_body.png) repeat-y left top;
	height:92%;
	overflow-y:auto;	
	overflow-x:hidden;
}

.mainmenu-layer{
   z-index: 999;
   padding-right: 13px;
   min-height: 740px;
    /* Fallback for web browsers that doesn't support RGBa */

    filter:alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
}

.show-more-vert{
	position: absolute;
	bottom: -7px;
	right: 45px;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../_img/icons_arrows1.png) no-repeat -15px 0px;
	outline: 0;
}
.show-more-vert-tab{
	right: 45px;
	bottom: -7px;
}

.show-more-result-tab{
	right: 45px;
	bottom: -69px;
}

.show-more-result-tree-tab{
	right: 45px;
	bottom: -40px;
}

.search_block_more-show{
	display: block;
	border-top: 1px solid #ccc;
}

.show-more-vert-up{
	background-position: 0 0;
}
.searchblock-collapsed .search_block_more{
	height: 0px;
	display: none;
}

.search_block_more-hidden{
	display: none;
}
.searchblock-collapsed .show-more-vert {
	display: none;
}

.searchresultblock-collapsed .show-more-vert {
	display: none;
}

.collapse-vert {
	position: absolute;
	bottom: -7px;
	right: 15px;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../_img/icons_arrows1.png) no-repeat 0 0;
	outline: 0;
}
.searchblock-collapsed .search_block_inner2, .searchblock-collapsed .search_block_inner1 {
	background: none;
}
.search_result_block .collapse-vert {
	bottom: -41px;
}
.searchblock-collapsed .collapse-vert {
	background-position: -15px 0;
	bottom: -7px;
}
.searchresultblock-collapsed .collapse-vert {
	background-position: -15px 0;
	bottom: -7px;
}

.collapse-vert-tab{
	bottom: -7px;
}

.hd-menu {
	position: absolute;
	left: 0px;
	margin-top: 50px;
	display: none;
	padding: 0 5px;
}


/* first level */

.mainmenu div { list-style-type: none; padding: 0px; margin: 0; border:none;}

.mainmenu-collapsed table,  .mainmenu-collapsed div{
	display: none;
}
.mainmenu-collapsed {
	width: 20px;
	padding: 0;
	height: 5%;
}

.mainmenu .rich-tree-node-handleicon{
	display:none;
}
.mainmenu :hover{
	color:#2486c8;
	text-decoration: none;
}
.mainmenu .rich-tree-node-icon{
	display:none;
}
.mainmenu .dr-tree-h-ic-line-last{
	display:none;
	}
.mainmenu .rich-tree-node-icon-leaf{
	display:none;
}

.mainmenu-collapsed .hd-menu {
	display: block;
}

.mainmenu .selected_folder{
	border:none;

}

.collapse-horiz {
	position: absolute;
	top: 14px;
	right: 7px;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
	text-decoration: none;
	background: url(../_img/icons_arrows1.png) no-repeat 0 -15px;
	outline: 0;
}

.mainmenu-collapsed .collapse-horiz {
	background-position: -15px -15px;
	right: -7px;
	display: inline;
}
.mainmenu div div div { /*second level div*/
	padding-top:2px;
	padding-bottom:5px;
	margin-top:-7px;
	border-bottom: 1px solid #ccc;
}
.mainmenu div div div div{ /*third level div*/
	border: none;
	padding-bottom:0px;
	padding-top:0px;
	margin-top:-2px;
}
.mainmenu div div table{
	border-bottom: 1px solid #ccc;

	}

.mainmenu div div div table{
	border:none;
}

.mainmenu div div table td {
	list-style-type: none;
	padding: 8px 0;
	font-weight: bold;
	font-size: 12px;
	width:175px;

	display: block;
	background-image: url(../_img/icon_arrowright.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 18px;
	color:#272F36;
	text-decoration: none;
}

/* Only selected branch must be coloured */
/*
.mainmenu .rich-tree-node-cildren{
	background-color: #f2f3eb;
}
*/

/* .mainmenu li li:hover {
	background-color: #e9eadb;
} */

/* second level */
.mainmenu div div div table{

	}
.mainmenu div div div table td{
	padding: 0px 18px 0 0px;
	line-height: 18px;
	border: none;
	font-size: 11px;
	background-image: url(../_img/tree_line.gif);
	background-repeat: repeat-y;
	background-position: 20px 0px;
}

.dr-tree-h-text{
	padding:0;
}

.mainmenu div div div .treeFolderClass{
	background: url(../_img/tree_cross.gif) no-repeat 20px 0px;
	padding: 2px 0 2px 38px;
}
.mainmenu div div div .treeLastFolderClass{
	background: url(../_img/tree_corner.gif) no-repeat 20px 0px;
	padding: 3px 0 2px 38px;
}

.mainmenu div div div .treePageClass{
	background: url(../_img/tree_cross.gif) no-repeat 20px 0px;
	padding: 2px 0 2px 38px;
	font-weight: normal;
	text-decoration: underline;
	color: #2486c8;
}

.mainmenu div div div .treeLastPageClass{
	background-image: url(../_img/tree_corner.gif);
	background-repeat: no-repeat;
	background-position: 20px 0px;
	padding: 3px 0 2px 38px;
	font-weight: normal;
	color: #2486c8;
}


.mainmenu li li.last { background: none; }
.mainmenu li li.last a { background-image: url(../_img/tree_corner.gif); }

/* third level */
.mainmenu div div div div table td{
	padding: 0 0 0 18px;
	background-image: url(../_img/tree_line.gif);
	background-repeat: repeat-y;
	background-position: 20px 0px;
}

.mainmenu div div div div .treePageClass{
	text-decoration: underline;
	color: #2486c8;
	background: url(../_img/tree_cross.gif) no-repeat 20px center;
}

.mainmenu div div div div .treeLastPageClass{
	color: #2486c8;
	background-image: url(../_img/tree_corner.gif);
	background-repeat: no-repeat;
	background-position: 20px center;
}

.mainmenu div div div div table td.mainmenu-selected-class{

}
.mainmenu td.mainmenu-selected-class .treePageClass{
	font-weight: bold;
}
.mainmenu li li li.last a {
	background-image: url(../_img/tree_corner.gif);
}

/* fourth level */
.mainmenu div div div div div table td{
	padding: 0 0 0 18px;
	background-image: url(../_img/tree_line_2.png);
	background-repeat: repeat-y;
	background-position: 20px 0px;
}

.mainmenu div div div div div .treePageClass{
	text-decoration: underline;
	color: #2486c8;
	background: url(../_img/tree_cross.gif) no-repeat 40px center;
	padding: 3px 0 2px 58px;
}

.mainmenu div div div div div .treeLastPageClass{
	color: #2486c8;
	background-image: url(../_img/tree_corner.gif);
	background-repeat: no-repeat;
	background-position: 40px center;
	padding: 3px 0 2px 58px;
}

.mainmenu div div div div div table td.mainmenu-selected-class{

}
.mainmenu td.mainmenu-selected-class .treePageClass{
	font-weight: bold;
}
.mainmenu li li li.last a {
	background-image: url(../_img/tree_corner.gif);
}
/* }}} left menu*/

/*content*/
.content{
	background-color: white;
	width: auto;
	margin-left: 233px;
	padding: 0px 16px 0px 0px;
	position: relative;
}
.crumbs{
	padding: 10px 0px 12px 0px;
}
.crumbs a, .crumbs span{
	background: url(../_img/icon_arrowright.png) no-repeat left top;
	padding:0px 0px 2px 16px;
}
.crumbs span {
	font-weight: bold;
}

a.crumbsbegin, span.crumbsbegin {
	background: url(../_img/icon_crumbsbegin.png) no-repeat left top;
	padding:0px 0px 2px 11px;
	font-weight: bold;
}

/*.stdButton, .bigButton, .smallButton, .midButton {
/*	button "Search" disappears when modal panel is opened under IE and this property is on */
/*	position:relative;*/
/*
	#border-collapse:separate;
	display: inline-block;
	background: url(../_img/bg_btn_left.png) no-repeat left top;
	height: 25px!important;
	padding: 0px 0px 0px 4px!important;
	color: black!important;
	margin: 2px;
	margin-right:0px;
	text-decoration: none!important;
	font-size: 11px!important;
	font-weight: normal!important;
	border-spacing: 0;
}
*/


/*
.bigButton input, .bigButton button {
	width: 120px;
}

.stdButton input, .stdButton button {
	width: 80px;
}

.smallButton input, .smallButton button {
	width: 40px;
}

.midButton input, .midButton button {
	width: 100px;
}
*/
.picBtn{

}

.content li{
	list-style-image: url(../_img/licircle.png);
	list-style-type: circle;
	margin-bottom: 10px;
	padding-left: 15px;
}

.content .rich-tab-header1{
	margin-bottom: 10px;
	padding-left: 15px;
}

.content p{
	padding: 0px 0px 0px 15px;
}
.content IMG {
	border: 0px;
	vertical-align: middle;
}

.workplace .res-table {
    #margin-right: -1px;
}
@-moz-document url-prefix() {
    .fix-ff {
        padding-left: 1px!important;
    }
}

.search_block{
	background: #eff0e6 url(../_img/search_corner_lt.gif) no-repeat 0 0;
	width: auto;
	font-weight: bold;
	margin-bottom: 10px;
}

.search_block_inner1 {
	background: url(../_img/search_corner_lb.gif) no-repeat 0% 100%;
	height: 100%;
}
.search_block_inner2 {
	background: url(../_img/search_corner_rb.gif) no-repeat 100% 100%;
}

.searchblock-collapsed {
	height: 18px;
	border-bottom: 1px solid #d7dac2;
}

.searchblock-collapsed .search_block_tabs_inner1{
	display: none;	
}

.searchblock-collapsed .search_block_left {
	height: 10px;
}
.searchblock-collapsed .search_block_left table,
.searchblock-collapsed .more-collapsed,
.searchresultblock-collapsed .res-table,
.searchresultblock-collapsed .buttons_block {
	display: none;
}
.searchresultblock-collapsed .search_result_block_left{
	height: 18px !important;
	border:none  !important;
	border-bottom: 1px solid #d7dac2  !important;
}

.searchresultblock-collapsed .res-tree-table-out,
.searchresultblock-collapsed .res-tree-table-out .res-tree-table{
	border:none;
	height: 18px !important;
}
.searchresultblock-collapsed .res-tree-table{
	display: none !important;
	}
.search_block table { border-collapse: collapse; }

.hd-searchblock {
	position: absolute;
	top: 5px;
	right: 35px;
	display: none;
}
.searchblock-collapsed .hd-searchblock {
	display: block;
}

.search_block_left{
	background: url(../_img/search_corner_rt.gif) no-repeat 100% 0%;
	width: auto;
	padding: 4px 18px;
	zoom: 1;
	position: relative;
}

.search_block TD{

	border: none;
	color: #272F36;
	#white-space: nowrap;
}
textarea[type="textarea"][disabled], input[type="text"][disabled], input[type="password"][disabled], select[disabled] {
	background-color: #ffffff;
    border: 1px solid #999;
	color:#777777;
}

.search_block INPUT[type="text"], .search_block INPUT[type="password"]{
	background-color: #ffffff;
    border: 1px solid #999;
    margin: 2px 8px;
    padding: 1px 2px;    
    height: 13px;
}
.search_block INPUT[type="text"], .search_block INPUT[type="password"], .search_block .input_block {
	width:100%;
	max-width: 250px;
}

.inputDate {
	width: 225px !important;
}
.search_block SELECT{
	background-color: #ffffff;
    border: 1px solid #999;
    margin: 2px 8px;
    height: 18px;
    padding-left: 2px;
    width: 100%;
    max-width: 257px;
}
.search_block input[type="checkbox"]{
    margin: 2px 8px;
    padding-left: 2px;
}

.search_result_block{
	background: url(../_img/bg_search_result.png) no-repeat right top;
	width: auto;
	margin-top: 0px;
	position: relative;
	zoom: 1;
}
.search_result_block.searchresultblock-collapsed {
    margin-bottom: 10px;
}

.search_result_block_left{
	background: url(../_img/bg_search_result_left.png) no-repeat left top;
	width: auto;
	padding: 7px 0px 0px 0px;
	zoom: 1;
}

.bottom_search_result_block{
	background: url(../_img/bg_bottom_search_result.png) no-repeat right top;
	width: auto;
	height: 69px;
}
.bottom_search_result_block.searchresultblock-collapsed {
    display: none;
}

.bottom_search_result_left{
	background: url(../_img/bg_bottom_search_result_left.png) no-repeat left top;
	width: auto;
	padding: 0;
	height: 69px;
}
.bottom_search_result_wrapper {
	position: relative;
}
.bottom_search_result_wrapper.searchresultblock-collapsed>.bottom_search_result_navigations,
.bottom_search_result_wrapper.searchresultblock-collapsed>.bottom_search_result_buttons{
	display: none;
}

.bottom_search_result_wrapper.searchresultblock-collapsed .collapse-vert {
	bottom: 3px;
}
.bottom_search_result_navigations {
	background: url(../_img/bg_bottom_search_result_top.png) repeat-x;
}

.bottom_search_result_buttons {
	background: #e7e9da;
	padding: 0 5px 5px 5px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: relative;
}

.bottom_search_result_block-tree{
	background: url(../_img/bg_bottom_search_result1.png) no-repeat right top;
	width: auto;
	height: 35px;
	padding-bottom: 8px;
}
.bottom_search_result_block-tree.searchresultblock-collapsed {
    display: none !important;
}
.bottom_search_result_left-tree{
	background: url(../_img/bg_bottom_search_result_left1.png) no-repeat left top;
	width: auto;
	padding: 0;
	height: 35px;
}

.bottom_search_result_block_buttons{
	background: url(../_img/bg_bottom_search_result2.png) no-repeat right top;
	width: auto;
	height: 29px;
}
.bottom_search_result_left_buttons{
	background: url(../_img/bg_bottom_search_result_left2.png) no-repeat left top;
	width: auto;
	padding: 0;
	height: 29px;
}
.bottom_search_result_left_buttons table {
	border-collapse: 2px;
	border-spacing: 2px;
	padding-right: 9px;
}
.bottom_search_result_left_buttons button, .bottom_search_result_block-tree button {
	margin-right: 2px;
}

.nocorner_search_result_block{
	background: url(../_img/bg_bottom_search_result.png) no-repeat center top;
	width: auto;
	height: 62px;
}

.nocorner_search_result_block table, .nocorner_search_result_block td {
	border-spacing: 2px;
}

.res-table{
	border-collapse: collapse;
	border: none;
	border-bottom: 2px solid #D7DAC2;
	width: 100%;
	background-color: transparent;
	color: #666666;
}

.o_scrolling_area_container{

}

.res-tree-table-header tr td, .o_table_sorted_column_header, .q_table_sorted_column_header{
	background: #eff0e6 url(../_img/bg_th.png) repeat-x right top;
	color: #000000;
	/*border-right: 1px solid #D7DAC2!important;*/
	text-align: left;
	max-height: 10px;
}

.o_scrolling_area_table{
	height: 23px;
}

.o_scrolling_area_table .res-tree-table-header,.o_noWrapHeaderCell{
	padding-left: 7px;
	padding-bottom: 6px;
}

.search_result_block .o_table {
	height: 200px;
	border-left:1px solid #D7DAC2;
	border-right:1px solid #D7DAC2;
	margin-left:-1px;
}

.workplace .res-tree-table-header tr, .workplace .o_table_sorted_column_header,
.workplace .q_table_sorted_column_header{
	padding-top: 0;

}

html >/**/ body .workplace .res-tree-table-header tr, .workplace .o_table_sorted_column_header,
.workplace .q_table_sorted_column_header{
	padding-top:6px !important;

}

.res-tree-table-cell{
	padding-left: 6px;
}

.tab-content{
	padding: 0px 0px 0px 0px;
	height: 200px;
	border-left: 1px solid #B0B588;
	border-right: 1px solid #B0B588;
}

.workplace .res-table-header, .rich-modalpanel .res-table-header {
	padding-top: 6px;
	height: 10px;
}

.q_filter_row_cells INPUT, .o_filter_row_cells INPUT, .extdt-table-filterrow INPUT{
	background-color: #ffffff;
    border: 1px solid #999;
	}
.o_filter_row_cells SELECT, .q_filter_row_cells SELECT{
	background-color: #ffffff;
    border: 1px solid #999;
	}

.o_filter_row_cells td, .q_filter_row_cells td{
	padding:1px;
	padding-right:7px;
	padding-left:4px;
	}
.content {
    zoom: 1;
}

.workplace {
    zoom: 1;
}

.res-tree-table-row{
	border-left: 0px none #D7DAC2;
	border-right: 0px none #D7DAC2;
	border-bottom: 1px solid #D7DAC2;
	/*padding: 2px 6px 2px 4px;*/
	white-space: nowrap;
	height:15px !important;
	background: none;
	background-color: transparent;
	}

.res-tree-table-row td{
	padding: 0px;
	}

.res-tree-table-row-wide{
	border-left: 0px none #D7DAC2;
	border-right: 0px none #D7DAC2;
	border-bottom: 1px solid #D7DAC2;
	padding: 6px 6px 6px 4px;
	white-space: nowrap;
	height:15px !important;
	background: none;
	background-color: transparent;
	}


.odd-tree-table{ background-color: #F2F3EB; }



.asc, .desc {
	background-image: url(../_img/sprite_table_arrows.png);
	background-repeat: no-repeat;
	width: 7px;
	height: 6px;
	text-align: -9999px;
	font-size: 0px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
}
.desc {	top: 10px; }
a.asc {	background-position: 0 -6px; }
a.desc { background-position: 0 -18px; }
b.asc, a.asc:hover { background-position: 0 0; }
b.desc, a.desc:hover { background-position: 0 -12px; }


.table_tools {
    padding: 0 10px;
    height: 30px;
    line-height: 28px;
    overflow: hidden;
	text-align: center;
}
.per-page-lbl { white-space: nowrap; text-align: right;}
.per-page-sel { width: 50px; }
.nav-cont { white-space: nowrap; }
.table_tools .nav {
    display: inline;
    margin: 0 56px;
    padding: 0;
    list-style: none;
}
.scrollerCell{
	border:none;
	border-style: none;
}

.table_tools a {
	color: #000;
}
.strongClass {
	color: #000;
	font-weight: normal;
	background: url(../_img/bg_pagecount.png) no-repeat;
	padding: 5px 15px;
}

.table_tools .prev-next {
	text-decoration: none;
	color: #000;
}
.table_tools .prev-next-dis {
	text-decoration: none;
	color: #999;
}
.pagecount {
	color: #99a063;
	width: 100px;
	white-space: nowrap;
}

.pagecount strong {
	color: #000;
	font-weight: normal;
	background: url(../_img/bg_pagecount.png) no-repeat;
	padding: 5px 13px;
}
.buttons_block {
	margin-top: 0px;
}
.buttons_block TABLE{ border: none; border-collapse: separate; }
.buttons_block TD{ border: none; }
.buttons_block .rel { z-index: 9999; }
.collapse_btn{
/*	background: url(../_img/icon_minimize.png) no-repeat left top;*/
	position: absolute;
	width: 15px;
	height: 15px;
	right: 10px;
	bottom: 4px;
}

.btn_block{
	padding: 0px 0px 0px 0px;
}

.input_box{border: 1px solid #a7a6aa; width: 156px;}

.submenu{
	font-size: 18px;
	width: 200px;
	margin: 0px;
	float: left;
}
.submenu UL{	margin: 0px; padding:0;}
.submenu LI{	list-style-type: none; list-style-image: none;}

.submenu a{	color: black;	text-decoration: none; padding: 7px 0px 0px 12px;}

.submenu b{
	background: url(../_img/bg_submenu.png) no-repeat left bottom;
	color: white;
	font-weight: normal;
	display: block;
	width: 146px;
	height:28px;
	padding: 7px 0px 0px 12px;
}

span#search_btn {
	padding: 0px 20px 0px 4px!important;
}

span#search_btn img {
	padding-right: 5px;
}

.buttons_block1 {
	width:100%;
	background: url(../_img/bg_bottom_search_result1.png) no-repeat right top;
	padding-right: 35px;
	margin-left: -18px;
	margin-top: 3px;
}
.buttons_block td {
	padding: 0;
}

.cardholderdata {
	padding:0;
	margin:0;
	border-collapse:collapse;
	width:100%;
}
.paddingTop14{
    padding-top: 14px;
}
.cardholderdata td {
	padding: 2px;
	#white-space: nowrap;
}

.cardholderdata input, textarea {
	width: 100%;
	max-width: 250px;
	border: 1px solid #999;
	padding: 2px;
	
}

.cardholderdata input[type='checkbox'] {
	border-width: 0;
	vertical-align:middle;
	width: auto;
}

.cardholderdata label {
	display: block;
	text-align: right;
	font-weight: bold;
}
.cardholderdata SELECT {
	width: 100%;
	max-width: 257px;
	background-color: #ffffff;
    border: 1px solid #999;
    height: 19px;
    
}
.cardholderdata .narrowInput input,
.narrowInput input{
	width: 13px;
	vertical-align: middle;
}

.cardholderdata .narrowInput label,
.narrowInput label {
	display: inline;
	text-align: right;
	font-weight: normal;
	vertical-align: middle;
}

#address {
	width: 99%;
}
.carddata-wrapper{
	height: 250px;
	/*scrollbar-face-color : #F2F3EB;
scrollbar-highlight-color : #D7DAC2;
scrollbar-3dlight-color : #F2F3EB;;
scrollbar-darkshadow-color : #F2F3EB;;
scrollbar-arrow-color : #D7DAC2;;
scrollbar-shadow-color : #F2F3EB;;
scrollbar-track-color: #D7DAC2;*/
	}
.cardholderdata-wrapper {
	padding: 10px;	
}
.cardholderdata-wrapper-orn {
    height: 14px;
    background: url(../_img/bg_cardhold.png) repeat-x;
}
.fieldset {
	 border: 1px solid #D7DAC2;
}
.width10{
	width:10%;
}
.width10 input {
	max-width: 100% !important;
}
.width10 label {
	text-align: right;
	vertical-align: top;
}
.width10 table {
	width:100% !important;
}
.width10 td {
	padding:1px !important;
}
.width12{
	width:12%;
}
.width12 table {
	width:100% !important;
}
.width12 td {
	padding:1px !important;
}
.width12 input {
	max-width: 100% !important;
}
.width12 label {
	text-align: right;
	vertical-align: top;
}
.width13{
	width:13%;
	border-left: 1px solid #d7dac2;
}
.width13 td{
	padding:1px !important;
}
.width13 input {
	max-width: 100% !important;
}
.width13 label {
	text-align: right;
	vertical-align: top;
}
.width13 table {
	width: 100% !important;
}
.width15{
	width:15%;
}
.width15 td{
	padding:1px !important;
}
.width15 input {
	max-width: 100% !important;
}
.width15 label {
	text-align: right;
	vertical-align: top;
}
.width15 table {
	width: 100% !important;
}
.width15px{
	width:15%;
}
.width15px td{
	padding:1px !important;
}
.width15px input {
	max-width: 100% !important;
	width: 15px;
}
.width15px label {
	text-align: right;
	vertical-align: top;
}
.width15px table {
	width: 100% !important;
}
.width20 {
	width:20%;
	text-align: left;
}
.width20 td{
	padding:1px !important;
	padding-right: 15px !important;
}
.width20 input {
	max-width: 98% !important;
}
.width20 label {
	text-align: left;
}
.width20 table {
	max-width: 100% !important;
	width: 100% !important;
}
.width20 select {
	width: 100% !important;
	max-width: 100% !important;
}
.width25 {
	width:25%;
}
.width30{
	width:30%;
	text-align: left;
}
.width30 td{
	padding:1px !important;
	padding-right: 15px !important;
}
.width30 input {
	max-width: 98% !important;
}
.width30 label {
	text-align: left;
}
.width30 table {
	max-width: 100% !important;
	width: 100% !important;
}
.width30 select {
	width: 100% !important;
	max-width: 100% !important;
}
.width40{
	width:40%;
}
.width40 {
	width:20%;
}
.width40 input {
	max-width: 98% !important;
}
.width50{
	width:50%;
	text-align: left;
	vertical-align: top;
}
.width50 input {
	max-width: 98% !important;
}
.width50 label {
	text-align: right;
}
.width50 table {
	max-width: 100% !important;
	width: 100% !important;
}
.width50 select {
	width: 100% !important;
	max-width: 100% !important;
}
.width60{
	width:60%;
}
.width70{
	width:70%;
	text-align: left;
}
.width70 input {
	max-width: 98% !important;
}
.width70 label {
	text-align: left;
}
.width70 table {
	max-width: 100% !important;
	width: 100% !important;
}
.width70 select {
	width: 100% !important;
	max-width: 100% !important;
}
.width80{
	width:80%;
}
.width90{
	width:90%;
}
.width0{
	width:0;
}
.width85{
	width:85%;
}
td.link-cont {
	width:80px;
    text-align: right;
    vertical-align: top;
    padding-left:20px;
}

td.link-cont td {
	float: right;
}

.link-cont img{
	padding-right:4px;
}
.link-more, .link-clear {
    /*background: url(../_img/icon_more.png) no-repeat 0px 0;*/
    padding-left: 0px;
    display: block;
    text-align: right;
    margin: 4px 0px;
    height: 16px;
}
.link-clear {
    /*background-image: url(../_img/icon_clear.png);*/
    white-space: nowrap;
}
.link-more a, .link-clear a, .link-filter a  {
    text-decoration: none;
    border-bottom: 1px dashed #2486C8;
    line-height: 16px;
}
.filter_panel {

}
.table_tools .nav .prev-next {
	margin: 0px;
}

.fw { width: 100%; }
.bc { margin: 0;}
.filter-table {
	width:100%;
	}
	
.rel { position: relative; }
.dropdown-menu li.first {
    border-top: none;
}

.tab_res_first {	border-left: none!important;}

.tab_res_last {	border-right: none!important;}

.field-cont { border-collapse: collapse; }
.field-cont input { float: left; }
.field-cont td { padding-top: 1px;padding-bottom: 1px;}

.res-tree{
	width:100%;
	border-left: 1px solid #D7DAC2;
	border-right: 1px solid #D7DAC2;
	height:300px;
	padding-top:20px;
}
.width100p{
	width: 100%;	
}

.width200 input{
	width: 200px;
}
.width200 select{
	width: 205px;
}
.width200 label{
	width: 200px!important;
}
.width250{
	width: 100%;
	text-align:left;
}
.width250 input{
	width: 250px;
}
.width250 input.rich-calendar-input {
	width: 195px;
	margin-right: 5px;
}
.width250 TEXTAREA{
	width: 250px;
}

.width250 select{
	width: 256px;
}

.width350{
	width: 100%;
	text-align:left;
}
.width350 input{
	width: 350px;
}
.width350 input.rich-calendar-input {
	width: 295px;
	margin-right: 5px;
}
.width350 TEXTAREA{
	width: 350px;
}

.width350 select{
	width: 352px;
}

span.rich-combobox-item-selected {
	padding: 1px;
	border: 1px solid #1E90FF;
	background-color: #1E90FF;
	color: #FFF;
	cursor: pointer;
	width: 100%;
}

.rich-combobox-list-scroll {
	overflow: auto;
	overflow-x: hidden;
	width: 350px !important;
}

.rich-combobox-list-cord {
	/*position: relative !important;
	top: -96px !important;*/
	width: 250px !important;
	z-index: 1000;
}

.rich-combobox-list-decoration {
	border: 1px solid #799BD2;
	padding: 0;
	background: #FFF;
}

.rich-combobox-shadow {
	position: absolute;
	width: 260px !important;
}

.rich-combobox-shadow {
	position: absolute;
	width: 260px !important;
	visibility: hidden;
}

.width350 {
	width: 350px!important;
}
.width350 TEXTAREA{
	width: 350px!important;
}

.width350 SELECT{
	width: 355px!important;
}
.width250 table td{
		padding:0px;		
}
.sv_logo{
	position:absolute;
	right:0;
	bottom:0px;
	width:1000px;
	height:200px;
	background: transparent url(../_img/smart_vista.png) no-repeat right bottom;
	z-index: 20;
}

.res-tree-table td{
	border-right: 0px none #D7DAC2;
	overflow: hidden;
}

.res-tree-table-row td{
	 border-right: 1px none #D7DAC2;
	 overflow: hidden;
	}

.res-tree-table-out{


	border-bottom: 1px solid #D7DAC2;
	scrollbar-face-color : #F2F3EB;
scrollbar-highlight-color : #D7DAC2;
scrollbar-3dlight-color : #F2F3EB;;
scrollbar-darkshadow-color : #F2F3EB;;
scrollbar-arrow-color : #D7DAC2;;
scrollbar-shadow-color : #F2F3EB;;
scrollbar-track-color: #D7DAC2;
	}

.res-tree-table{
	border: none;
	width:100%;
	background-color: transparent;
	color: #666666;
}

.kinda-green-border {
	border: 1px solid #D7DAC2;
}

.width99P{
	width:99%;
}

form {
	margin:0;
	padding:0;
}

.firstCol{
	text-align: right;
	#width: 110px;
	white-space: nowrap;
	vertical-align: top;
}

.errorMarker{
	vertical-align: top;
	color: red;
	white-space: normal !important;
}

.errorMarkerBlock{
	vertical-align: top;
	color: red;
	white-space: normal !important;
	display: block;
}

.firstCol label{
	padding-top: 2px;
	padding-left: 15px;
	right:0;
	text-align:right;
	white-space: nowrap;
	width: 150px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.workplace .firstCol.alignLeft label{
	right:0;
	white-space: nowrap;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	width: 90%;
}

.firstColModal {
	vertical-align: top;
}

.firstColModal label {
	width: auto;
	max-width: 250px;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}


.paddingCol{
	padding-left: 18px !important;
}

.stdButton{

}


.res-tree-table tbody{

}

.res-tree-table-row-wide td{
	padding: 0;
}

.paddingR12{
	padding-right:12px;
}

.inplace-hover{
	background-color: #999999;
}
.inplace{
	background-color: #999999;
}
.o_table_no_data_row, .q_table_no_data_row{
	text-align: left;
	font-weight: bold;
	color: #000000;

}

.search_result_block .table-collapse-vert{
	bottom: -69px;
}
.searchresultblock-collapsed .table-collapse-vert{
	bottom: -7px;
}

.noWrap {
	white-space: nowrap;
}

.bold {
	font-weight: bold;
}

.largeTab{
	width:130px;
}

.active-tab-cell .largeTab{
	width:130px;
}

.disabled-label {
	color:gray;
}

.grayInput{
	color:#777777 !important;
}


.o_checkbox_column{
	text-align: center!important;
	padding: 0;
}

.treeTableText{
	table-layout: fixed;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 6px;
}

.ajax_status {
	font-weight: bold;
	text-transform: capitalize;
}
.header_text {
	color: #000000;
	font-family: Tahoma,Myriad Pro,Helvetica;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}


.noBorder {
	border: none;
}
.hidden {
	display: none;
}

.backgr2{
	max-width:250px;
	width:250px;

}

.backgr2-no-border{
	max-width:250px;
	width:250px;
}
.backgr2 div{
	max-width:250px;
	overflow-x: hidden;
	border: 1px solid #C0C0C0;
}
.backgr2 span{
	max-width:250px;
}

.o_treetable_folding {

}

.o_treetable_indent div {
	height: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
}

textarea[type="textarea"], input[type="text"], input[type="password"], select {
	/* to disable strange richfaces style property for these inputs */
    background-image: none !important;
}

.rich-menu-list-bg {
	background-image: none !important;
}

.selected-menu-item {
	background-color: #999999;
	border: 1px solid #999999;
}

.error-page-header {
	font-size: large;
	color:red;
}

.error-page-body {
	color:red;
}

.ctxSummoner {
	color: #2486C8;
	cursor: pointer;
	text-decoration: underline;
}
.extdt-row-selected .ctxSummoner, .treetable_selection .ctxSummoner {
	color: #C7E1FD;
}

.highlighted-menu-item {
	background-color: #dde0cb;
}

.extdt-table-layout {
    border-spacing: 0;
    table-layout: fixed;
}

.app_edit_block {
	width: 100%;
}
.table_tools_state {
	text-align: right;
	width: 50px;
}
.table_tools_state a{
	padding-right: 10px;
}
.action_icon{
	cursor: pointer;	
}
.selectedDropDownLabel {
	border: 0;
}

.login_block .firstCol label {
	width:auto;
}
.login_block input {
	width: 100%!important;
	#margin: 0px!important;
}

.carddata-wrapper .cardholderdata-wrapper {
	padding-right: 110px; 
}

.oneColumnTable {
	
}

.twoColumnTable {
	
}

.threeColumnTable {

}

.secondCol {
	width: 35%;
}

.oneColumnTable .secondCol {
	width: 100%;	
}

.twoColumnTable .secondCol {
	vertical-align: top;
	width: 50%;	
	white-space: nowrap;
}

.threeColumnTable .firstCol label {
	width: 120px;
}

.threeColumnTable .secondCol {
	vertical-align: top;
	width: 33%;
	white-space: nowrap;
}

.threeColumnTable .firstCol label {
	width: 120px;
}

.fourColumnTable .secondCol {
	vertical-align: top;
	width: 25%;
	white-space: nowrap;
}

.filter-td {
	vertical-align: top;
	padding-right: 20px;
}
.separator {
	width:100%;
	max-width: 257px;
}	
.searchComponent {
	margin: 1px 8px;
	max-width: 257px;
}
.searchComponent-input{
	margin: 0px!important;
}
.searchComponent-icon{
	cursor: pointer;
	padding-left: 2px;
	text-align: left;
}
.firstCol .searchComponent {
	padding: 0px!important;
}
.secondCol .searchComponent-icon{
	padding-left: 10px;
	text-align: left;
}
.firstCol .searchComponent-input {
	padding: 1px 0px 1px 0 !important;
}

.search-block-tabs-head{
	
}

.search-block-tabs-head-background{
	background: #eff0e6 url(../_img/search_corner_lt.gif) no-repeat 0 0;
	height:18px;
}

.search-block-tabs-head-inner1{
	background: url(../_img/search_corner_rt.gif) no-repeat 100% 0%;	
	width: auto;
	padding: 4px 18px;
	zoom: 1;
	position: relative;
}

.scrollable-tabs{
	overflow: hidden;
}
.scroll-panel{
	width:22px;
	height: 25px;
}

.scroll-panel button {
	height: 25px;
	width: 11px;
	
}

.scroll-panel .scroll-next {
	background: url(../images/icon_scroll_next.png) no-repeat 100% 0%;	
}

.scroll-panel .scroll-prev {
	background: url(../images/icon_scroll_previous.png) no-repeat 100% 0%;
}

.errorField {
	background-color: #FF9999 !important;
}

    .indent {
         width:16px;
    }
	.simple-tree-td-1{
		border-right:1px solid #E0E0E0;
		
	}
	.simple-tree-td-1 .simple-tree-td-1-div{
		width:250px;
		margin:1px;
	}
	.simple-tree-td-1 .simple-tree-td-1-div table{
		border-collapse:collapse;
	}
	.simple-tree-td-1 .topic{
		font-weight: bold;
	}
	
	.simple-tree-td-2{
		border-right:1px solid #E0E0E0;
	}
	.simple-tree-td-2 .simple-tree-td-2-div{
		width:300px;
		margin-top:1px;
		margin-bottom:1px;
		margin-left:2px;
		margin-right:2px;
	}
	.simple-tree-table{
		width:100%;
		border-collapse:collapse;
		color: #000000;
		font: 11px Tahoma,Myriad Pro,Helvetica;
	}
	.simple-tree-table tr:nth-child(even){
		background: #F2F3EB; 
    }
	.simple-tree-table-tr{
		border:1px solid #E0E0E0;
	}
	.simple-tree-table-tr td table{
		border-collapse:collapse;
	}

.noHeader .rich-extdt-subheader{
	display: none;
}

.noHeader .firstCol label {
	text-align: left;
	float: none;
	padding-top: 0;
	line-height: 14px;
}

.detailsCategory label {
	padding-left: 0;
	font-weight: bold;
}

.langSelector {
	padding: 10px 0;
}

.langSelector label {
	font-weight: bold;
	white-space: nowrap;
	padding: 0 10px 0 4px;
}

.detailsCategory img {
	margin: 3px 5px 0 0;
	cursor: pointer;
	float: left;
}
.detailsTable label{
	width: 250px!important;
}

.clipping-field{
	width: 250px;
	overflow:hidden;
	text-overflow:ellipsis;
}

.result-block-tab{
	margin-bottom:10px;
	position:relative;
}

.result-block-tab-body{
	
}

.collapsed {
	display:none;
}

.header-stub{
	background: #eff0e6 url(../_img/search_corner_lt.gif) no-repeat 0 0;
	width: auto;
	font-weight: bold;
	margin-bottom: 10px;
	height:18px;
	border-bottom: 1px solid #D7DAC2;
}

.header-stub-curve {
	background: url(../_img/search_corner_rt.gif) no-repeat 100% 0%;
	width: auto;
	padding: 4px 18px;
	zoom: 1;
	position: relative;
}

.pseudo-input-with-flag {
	border: 1px inset rgb(215, 218, 194); 
	width: 247px; 
	padding: 1px 0px 1px 3px;
}

.pseudo-input-with-flag .flag {
	display: inline-block; 
	float: none;
}

.pseudo-input-with-flag input {
	border: 0px none;
	width: 210px;
}

/* openfaces treetable selection */ 
.treetable_selection {
    background-color: #999999 !important;
    color: #FFFFFF !important;
}

/* for <rich:calendar> */
.rich-calendar-exterior {
    border-color: #D7DAC2;
    font-weight: normal;
}

.paginated_tab {
	height: 61px!important;
}
.wideFirstCol label{
	width: auto;	
}

.no-padding{
	padding:0px;	
}

.row_per_page{
	width: 45px!important;
}

.column80{
    width: 80%;
}

.column20{
    width: 20%;
}
.cardholderdata td.column_lpad20{
    padding-right: 20px;
}

.search_block_oper{
	background: #eff0e6;
	width: 47%;
	font-weight: bold;
	margin-bottom: 10px;
	vertical-align: top;
	border-bottom: 1px inset;
}

.search_block_tabPanel {
	vertical-align: top;
	width: 53%;
}

.search_block_oper .firstCol label{
	padding-top: 2px;
	padding-left: 15px;
	right:0;
	text-align:right;
	white-space: nowrap;
	width: 110px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.search_block_oper INPUT[type="text"] {
	box-sizing: border-box;
	max-width: 164px;
	width: 100%;
	height: 100%;
}

.search_block_oper select {
	max-width: 164px;
	width: 100%;
}

.search_block_tabPanel .firstCol label{
	padding-top: 2px;
	padding-left: 15px;
	right:0;
	text-align:right;
	white-space: nowrap;
	width: 110px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.search_block_tabPanel INPUT[type="text"] {
	box-sizing: border-box;
	max-width: 164px;
	width: 100%;
	height: 100%;
	margin: 2px 0px;
}

.search_block_tabPanel select {
	max-width: 164px;
	width: 100%;
	margin: 2px 0;
}

.search_block_tabPanel .searchComponent {
	margin: 1px 0;
	max-width: 257px;
}



.rich-combobox {
	width: 250px !important;
	height: 19px;
}

.width250 .rich-combobox {
	width: 250px !important;
}

.width350 .rich-combobox {
	width: 350px !important;
}

.search_block .rich-combobox {
	max-width: 250px !important;
	width: 100% !important;
	height: 18px;

}

.rich-modalpanel .search_block .bpc-rich-combobox {
	max-width: 215px !important;
}


.search_block .rich-combobox {
	margin: 2px 8px;
	height: 19px !important;
}

.rich-combobox-shell,
.rich-combobox-strut  {
	width: 100% !important;
}
input.rich-combobox-input,
input.rich-combobox-input-inactive,
input.rich-combobox-input-disabled {
	width: 100% !important;
	height: 13px;
}


input.rich-combobox-button,
input.rich-combobox-button-inactive,
input.rich-combobox-button-disabled {
	width: 14px !important;
	background-image: url(../images/modal/dropdown.png) !important;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	right: -6px;
	height: 13px;
}

.rich-combobox input[type="text"] {
	margin: 0;
}

input.rich-combobox-font-disabled.rich-combobox-input-disabled,
input.rich-combobox-font-disabled.rich-combobox-input-inactive {
	color: inherit;
}

input.rich-combobox-font-disabled.rich-combobox-input-disabled[disabled],
input.rich-combobox-font-disabled.rich-combobox-input-inactive[disabled] {
	color: #aaaaaa;
}

.per-page-sel .bpc-rich-combobox {
	max-width: 50px;
}
