.default_icon {
	padding: 0 !important;
	width: 16px;
	height: 16px;	
	background: url(../images/objecticons/question.png) no-repeat;
}

.network {
	float: left;
	padding: 0 !important;
	margin: 0 5px 0 0;
	width: 16px;
	height: 16px;	
}


.network.visa {	background: url(../images/objecticons/networks_visa.png) no-repeat;}
.network.mcw { background: url(../images/objecticons/networks_master_card.png) no-repeat; }
.network.local { background: url(../images/objecticons/bank.png) no-repeat;}
.network.borica { background: url(../images/objecticons/borica.gif) no-repeat;}
.network.amex { background: url(../images/objecticons/amex.png) no-repeat;}
.network.prioritypass { background: url(../images/objecticons/priority_pass_icon.png) no-repeat;}
.network.china_union_pay {	background: url(../images/objecticons/network_china_union_pay.png) no-repeat;}
.network.mir {	background: url(../images/objecticons/network_mir.png) no-repeat;}
.network.jcb {	background: url(../images/objecticons/network_japan_credit_bureau.png) no-repeat;}
.network.diners {	background: url(../images/objecticons/network_diners_club.png) no-repeat;}


.sttl_type { background: url(../images/objecticons/bank.png) no-repeat;}
.sttl_type.us_on_us { background: url(../images/objecticons/bank.png) no-repeat;}
.sttl_type.them_on_us { background: url(../images/objecticons/pos.png) no-repeat;}
.sttl_type.us_on_them { background: url(../images/objecticons/credit_card.png) no-repeat;}
.sttl_type.us_on_uralsib { background: url(../images/objecticons/sttl_type/uralsib_logo.png) no-repeat;}

.msg_type {		
}

.msg_type.pres { background: url(../images/objecticons/floppy.png) no-repeat;}
.msg_type.auth { background: url(../images/objecticons/lightning.png) no-repeat;}
.msg_type.preu { background: url(../images/objecticons/lightning.png) no-repeat;}
.msg_type.rollback { background: url(../images/objecticons/object_rotate_left.png) no-repeat;}
.msg_type.batch { background: url(../images/objecticons/down_blue.png) no-repeat;}
.msg_type.retrieval { background: url(../images/objecticons/retrieval.png) no-repeat;}
.msg_type.chargeback { background: url(../images/objecticons/chargeback.png) no-repeat;}

.is_reversal { background: url(../images/objecticons/rotate360anticlockwise_red.png) no-repeat;}
.is_reversal_exists { background: url(../images/objecticons/no.png) no-repeat;}

.client_id_type.card { background: url(../images/objecticons/credit_card.png) no-repeat;}
.client_id_type.account  { background: url(../images/objecticons/coins.png) no-repeat;}

.status_type.processed { background: url(../images/objecticons/status_processed.png) no-repeat; }
.status_type.frozen_for_manual { background: url(../images/objecticons/status_frozen_for_manual.png) no-repeat; }
.status_type.ready_to_process { background: url(../images/objecticons/status_ready_to_process.png) no-repeat; }
.status_type.processing_error { background: url(../images/objecticons/status_processing_error.png) no-repeat; }
.status_type.wait { background: url(../images/objecticons/wait.png) no-repeat; }

.asst.out_of_service { background: url(../images/objecticons/no.png) no-repeat; }
.asst.undefined { background: url(../images/objecticons/question.png) no-repeat; }
.asst.in_service { background: url(../images/objecticons/status_ok.png) no-repeat; }

.afcs.na { }
.afcs.atm_ok { background: url(../images/objecticons/status_ok.png) no-repeat; }
.afcs.problem { background: url(../images/objecticons/error_triangle.png) no-repeat; }
.afcs.warning { background: url(../images/objecticons/warning_triangle.png) no-repeat; }

.atcs.na { }
.atcs.atm_ok { background: url(../images/objecticons/status_ok.png) no-repeat; }
.atcs.problem { background: url(../images/objecticons/error_triangle.png) no-repeat; }
.atcs.warning { background: url(../images/objecticons/warning_triangle.png) no-repeat; }

.aecs.na { }
.aecs.atm_ok { background: url(../images/objecticons/status_ok.png) no-repeat; }
.aecs.problem { background: url(../images/objecticons/error_triangle.png) no-repeat; }
.aecs.warning { background: url(../images/objecticons/warning_triangle.png) no-repeat; }

.standard.ncr { background: url(../images/objecticons/ncr.png) no-repeat center; }
.standard.wincor { background: url(../images/objecticons/wincor-nixdorf.png) no-repeat; }

.dis_type.hopper { background: url(../images/objecticons/dis_type_hopper.png) no-repeat; }
.dis_type.cassette { background: url(../images/objecticons/dis_type_cassette.png) no-repeat; }

.status_ok { background: url(../images/objecticons/status_ok.png) no-repeat;}
.status_error { background: url(../images/objecticons/no.png) no-repeat;}
.status_warning {background: url(../images/objecticons/warning_triangle.png) no-repeat;}

.debt_status {}
.debt_status.active { background: url(../images/objecticons/coins.png) no-repeat;}
.debt_status.paid { background: url(../images/objecticons/status_ok.png) no-repeat;}
.debt_status.suspended { background: url(../images/objecticons/coin_stack_silver.png) no-repeat;}
.debt_status.cancelled { background: url(../images/objecticons/no.png) no-repeat;}

.oper_status.status_processed { background: url(../images/objecticons/status_processed.png) no-repeat; }
.oper_status.status_frozen_for_manual { background: url(../images/objecticons/status_frozen_for_manual.png) no-repeat; }
.oper_status.status_ready_to_process { background: url(../images/objecticons/status_ready_to_process.png) no-repeat; }
.oper_status.status_processing_error { background: url(../images/objecticons/status_processing_error.png) no-repeat; }
.oper_status.status_error {background: url(../images/objecticons/no.png) no-repeat;}
.oper_status.status_ok {background: url(../images/objecticons/status_ok.png) no-repeat;}
.oper_status.status_warning {background: url(../images/objecticons/warning_triangle.png) no-repeat;}
.oper_status.wait {background: url(../images/objecticons/wait.png) no-repeat;}
.oper_status.status_duplicate {background: url(../images/objecticons/duplicate.png) no-repeat;}

.file {background: url(../images/objecticons/paperclip.png) no-repeat;}
.outgoing {background: url(../images/objecticons/up_blue.png) no-repeat;}
.incoming {background: url(../images/objecticons/down_green.png) no-repeat;}