/* Richfaces extended data table*/
.rich-extdt-maindiv {
	border-top-width: 0 !important;	
}

.extdt-table-layout {
	background-color:transparent;
	border-collapse:collapse;
	border-color:-moz-use-text-color -moz-use-text-color #D7DAC2;
	border-style:none none solid;
	border-width:medium medium 1px;
	color:#666666;
	width:100%;
}

.rich-extdt-header {
	display: none;
}

.rich-extdt-subheadercell {
	background: #eff0e6 url(../_img/bg_th.png) repeat-x right top;
	border-left: 0px solid #D7DAC2!important;
	border-right: 1px solid #D7DAC2!important;
	padding: 0px 6px 6px 6px;
	text-align: left;
	max-height: 10px;
	white-space: nowrap;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
}

.workplace .rich-extdt-subheadercell {
	height: 10px;
	padding: 6px 6px 6px 6px;
}

.extdt-table-filterrow .rich-extdt-subheadercell{
	padding-right:5px !important;
	padding-top:1px !important;
	padding-bottom:1px !important;
	padding-left:4px !important;

}

.extdt-table-filterrow INPUT{
	background-color: #ffffff;
    border: 1px solid #999;
}

.extdt-noData-cell{
	text-align: left;
}

.rich-extdt-firstrow {
	border-right:medium none;
	color:#666666;
}

.rich-extdt-cell, .noHeader .rich-table-cell {
	background:none repeat scroll 0 0 transparent;
	border-bottom:1px solid #D7DAC2;
	border-left:medium none;
	padding:2px 6px;
	height:100%;
	line-height:14px;
	vertical-align:middle;
}

.workplace .rich-table-cell {
   word-wrap: break-word;
overflow: hidden;
}

.noHeader .rich-table-firstrow {
	border-top: 1px solid #D7DAC2;
}

.noHeader .rich-table-cell {
	border-right: 1px solid #D7DAC2;
}

.extdt-sortable-header {
	
}

.extdt-cell-div {
	height:100%;
	line-height:14px;
	vertical-align: middle!important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.extdt-cell-div img{	
	vertical-align: middle!important;
}

.odd{ background-color: #F2F3EB!important; }
.even{ background-color: #FFFFFF!important; }

.extdt-row-selected .rich-extdt-cell, .extdt-row-selected.rich-extdt-cell {
	color:#ffffff!important;
	background-color:#999!important;	
}

.no-menu .extdt-menu-div-out{
	width: 0;
}

.extdt-menu-div-on, .extdt-menu-div-out{
	
	width: 20px;
	height: 22px;
	text-align: -9999px;
	font-size: 0px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-decoration: none;
	
	margin: -3px 0 0 -6px;
	background-color: transparent;	
}

.tab_res_first {	border-left: none!important;}

.tab_res_last {	border-right: none!important;}


/* Richfaces datascroller */
.rich-dtascroller-table{
	list-style: none;
	margin: 0 7px;
	padding: 0;
	height: 10px;
	line-height:15px;
}
.rich-datascr-act{
	color: #fff;
	padding: 0 3px;
	background: #999;
	font-weight: normal;
	border:none;
}
.rich-datascr-inact{
	color: #000;
	text-decoration :underline;
	border:none;
}
.res-datascroller{
	border:none;
	border-style: none;
}
.rich-dtascroller-table{
	background: transparent;
	border:none;
}
.rich-datascr-button{
	background:transparent;
	border:none;
	border-style: none;
}
.extdt-hdrop
{

}
/* Collapsed */
.searchresultblock-collapsed .extdt-maindiv,
.searchresultblock-collapsed .res-datascroller{
	display: none;
}

.searchresultblock-collapsed .extdt-innerdiv,
.searchresultblock-collapsed .extdt-outerdiv,
.searchresultblock-collapsed .rich-extdt-maindiv{
	border:none;
	height: 18px !important;
}

.tab-content{
	padding: 0px 0px 0px 0px;
	height: 200px;
	border-left: 1px solid #B0B588;
	border-right: 1px solid #B0B588;
}


/* Submenu */
.submenu{
	font-size: 18px;
	width: 200px;
	margin: 0px;
	float: left;
}
.submenu UL{	margin: 0px; padding:0;}
.submenu LI{	list-style-type: none; list-style-image: none;}

.submenu a{	color: black;	text-decoration: none; padding: 7px 0px 0px 12px;}

.submenu b{
	background: url(../_img/bg_submenu.png) no-repeat left bottom;
	color: white;
	font-weight: normal;
	display: block;
	width: 146px;
	height:28px;
	padding: 7px 0px 0px 12px;
}

/*
.rich-menu-list-border {
    background: url(../_img/shadow.png);
}
.rich-ddmenu-label-select{
	background: transparent;
	border:none;
}
.rich-menu-list-bg {
    margin: 0;
    list-style: none;
    border: 1px solid #B3B88D;
    background: #E7E9DA;
    padding: 1px;
    position: relative;
    top: -3px;
    left: -3px;
    width: 185px;
}
.rich-menu-item {
    margin: 0 11px 0 23px;
    padding: 1px 0;
    list-style: none;
    background:transparent;
    border:none;
    border-top: 1px solid #CDD1B4;
}
.dropdown-menu li.first {
    border-top: none;
}
.rich-menu-item-label{
    display: block;
    color: #000;
    text-decoration: none;
    border: 1px solid #E7E9DA;
    padding: 4px 11px 4px 23px;
    margin: 0 -11px 0 -23px;
}
.rich-menu-item-icon{
	display:none;
}
.rich-menu-item-enabled{
	background:none;
}
.rich-menu-item-label:hover {
    color: #2486C8;
    background: #FAE6B0;
    border: 1px solid #E5983F;
}

/* Richfaces tabs */
.rich-tabpanel {
	table-layout: fixed;
	overflow: visible;	
}

.rich-tabpanel-content-position {
	border-top: 1px solid #b0b588;
	border-left:0px;
	margin-top: -2px;
    table-layout: fixed;
	
}

.rich-tabhdr-side-cell {
	border: none;
}

.tabs {
	margin: 0;
	padding: 0;
	border-bottom: none;
	overflow-x: hidden; 
	overflow-y: hidden;
}

.rich-tab-header {
	border:none;
	float: left;
	height: 28px;
	line-height: 28px;
	position: relative;
	background: url(../_img/tab_r.png) no-repeat 100% 100%;
	list-style: none;
	margin: 0 0 0 -13px;
	padding: 0;
	text-align: center;
	background-position:100% 100%;
	background-repeat: no-repeat;
}
.rich-tab-header * {
	margin: 0;
	/*padding: 0 20px 0 7px;*/
    background-position: 0% 100%;
}

.active-tab-cell{
	z-index:1;
	background-image: url(../_img/tab_curr_r.png);	
}

.dr-tbpnl-tbtopbrdr{
	border:0;
}

.rich-tabhdr-side-border{
	display:none;
}

.dr-tbpnl-tb-inact .tab-label{
	background: url(../_img/tab_l.png) no-repeat left top;
}

.rich-tabhdr-side-border {

}
.rich-tab-header, .tab-label {
	float: left;
	height: 28px;
	line-height: 28px;
	position: relative;
	background: url(../_img/tab_r.png) no-repeat 100% 100%;
	list-style: none;
	margin: 0;
	padding: 0 7px 0 0;
	text-align: center;	
	/*max-width: 90px;*/
}
.tab-label {
	color: #272f36;
	text-decoration: none;
	background: url(../_img/tab_l.png) no-repeat 0% 100%;
	padding: 0 0 0 7px!important;
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*min-width: 50px;*/
}
.active-tab-cell {
	background: url(../_img/tab_curr_r.png) no-repeat 100% 100%;
	font-weight: bold;
}
.active-tab-cell .tab-label {
	background: url(../_img/tab_curr_l.png) no-repeat 0% 100%;
	font-weight: bold;
}
/* End of richfaces tabs */


.kinda-green-border {
	border: 1px solid #D7DAC2;
}

.rich-filter-input{
	width:99%;
}

.inplace-hover{
	background-color: #999999;
}
.inplace{
	background-color: #999999;
}


/* Richfaces calendar */
.rich-calendar-cell {
	border-bottom:1px solid!important;
	border-right:1px solid!important;
	padding:0!important;
	text-align:center!important;
	vertical-align:middle!important;
	color:#272F36!important;
    font-family:Tahoma,Myriad Pro,Helvetica!important;
}
.rich-calendar-cell-size {
	height:22px!important;
	width:25px!important;
}
.rich-calendar-btn {
	cursor:pointer!important;
}
.rich-calendar-boundary-dates{
    color:#808080!important;              
}  
.rich-calendar-footer {
    background: #FFFFFF;
	font-family:Tahoma,Myriad Pro,Helvetica!important;
	font-size:11px!important;
	color:#272F36!important;
}
.rich-calendar-tool {
    color:#272F36!important;
    background: #D7DAC2;
    font-family:Tahoma,Myriad Pro,Helvetica!important;
}
.rich-calendar-month {
    color:#272F36!important;
    background: #D7DAC2;
    font-family:Tahoma,Myriad Pro,Helvetica!important;
}
.rich-calendar-toolfooter{
    background: #FFFFFF;
    font-family:Tahoma,Myriad Pro,Helvetica!important;
}
.rich-calendar-days {
    background: none repeat scroll 0 0 #FFFFFF;
	font-family:Tahoma,Myriad Pro,Helvetica!important;
	font-size:11px!important;
	color:#272F36!important;
	border-bottom:1px solid!important;
	border-right:0 solid!important;
	height:22px!important;
	text-align:center!important;
	vertical-align:middle!important;
	z-index: 200!important;
}
.rich-calendar-week {
	font-family:Tahoma,Myriad Pro,Helvetica!important;
	font-size:11px!important;
	color:#272F36!important;
}
.rich-calendar-weekends {
	color:red!important;	
}
.rich-calendar-spinner-input {
	width: 18px !important;
}

/* Richfaces modal panel */
.rich-mpnl-mask-div{
	z-index: 300;
}
.rich-mpnl-body{
	padding:0px;

}
.rich-mpnl-content{
	padding:0px;
	background-color:#FFFFFF;
	border-color:#D7DAC2;
	border-style:solid;
	border-width:1px;
	color: #000000;
}
.rich-mpnl-shadow {
	height:100%;
	left:4px;
	opacity:0.1;
	position:absolute;
	top:4px;
	width:100%;
	z-index:-1;
}
.rich-panel {
	border: 1px solid #B0B588;
}

/* Tagged command button */
button.rich-tgcmdbtn { 
	color: black!important;
	text-decoration: none!important;
	font-weight: normal!important;
  	border:0; 
  	cursor:pointer; 
  	padding:0 15px 0 0; 
  	text-align:center;
  	background:url(../_img/bg_btn_right1.png) scroll right no-repeat!important;
}
button.rich-tgcmdbtn span { 
	position:relative!important; 
	display:block!important; 
	white-space:nowrap!important; 
	padding:0 0 0 15px!important; 
	height:25px!important; 
	line-height:25px!important;
	background:url(../_img/bg_btn_left1.png) scroll left no-repeat!important;
}
button.rich-tgcmdbtn { 
	width:auto; 
	overflow:visible; 
}
.rich-tgcmdbtn img{
	vertical-align: middle;
	padding: 0px 4px 0px 0px;
	margin-left: -5px;

}
.rich-tgcmdbtn[disabled], button[disabled], .rich-button-disabled, .rich-container button[type="button"][disabled], .rich-button-button-disabled, .rich-container button[type="reset"][disabled], .rich-button-reset-disabled, .rich-container button[type="submit"][disabled], .rich-button-submit-disabled, .rich-container input[type="reset"][disabled], .rich-input-reset-disabled, .rich-container input[type="submit"][disabled], .rich-input-submit-disabled, .rich-container input[type="button"][disabled], .rich-input-button-disabled,
button[disabled], .rich-button-disabled, .rich-container button[type="button"][disabled], .rich-button-button-disabled, .rich-container button[type="reset"][disabled], .rich-button-reset-disabled, .rich-container button[type="submit"][disabled], .rich-button-submit-disabled, .rich-container input[type="reset"][disabled], .rich-input-reset-disabled, .rich-container input[type="submit"][disabled], .rich-input-submit-disabled, .rich-container input[type="button"][disabled], .rich-input-button-disabled,
button[type="button"][disabled], button[type="reset"][disabled], button[type="submit"][disabled], input[type="reset"][disabled], input[type="submit"][disabled], input[type="button"][disabled]
button[disabled],
.stdButton input, .bigButton input, .smallButton input, .midButton input{
	color:gray!important;
	cursor: inherit;	
}
button.rich-tgcmdbtn::-moz-focus-inner {
	border: none;
}

/* Richfaces messages */
.rich-messages {
	padding: 0 10px;
}
.rich-messages-marker {
	padding-right: 5px;
}

.rich-spinner-button {
	padding: 0px!important;
	margin: 0px!important;
	width:14px!important;
}
/*
 .search_result_block .rich-extdt-maindiv {
               height: auto !important;
          }
          
          .search_result_block .rich-extdt-maindiv, .search_result_block .extdt-innerdiv {
               position: relative !important;
          }
          
          .search_result_block .extdt-outerdiv {
               height: auto !important;
               overflow: visible !important;
          }
          
         .search_result_block .extdt-content {
         	   height: 200px;
               max-height: 600px;
          }
          */

.rich-picklist-source-items {
    margin: 0px;
}

.rich-picklist-target-items {
    margin: 0px;
}
.rich-ordering-list-row-selected {
	background-color: highlight!important;
	color: highlighttext!important;
}

.rich-ordering-list-cell-selected {
	color: highlighttext!important;
}

.rich-fileupload-button{
	background-color: #EFF0E6;
	background-image: none;
}

.rich-fileupload-button-press{
	background-color: #EFF0E6;
	background-image: none;
}

.rich-progress-bar-uploaded{
	background-color: #D7DAC2;
	background-image: none;
}

.rich-progress-bar-completed{
	background-color: #D7DAC2;
	background-image: none;
}

.table-header-ext .extdt-menu-div-on, .table-header-ext .extdt-menu-div-out{
 margin: 3px 0 0 -6px !important;
 width: 20px;
 height: 22px;
 text-align: -9999px;
 font-size: 0px;
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 text-decoration: none; 
 background-color: transparent; 
}


.rich-tabpanel-content {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
}

.tab-content {
    background-color: #FFFFFF;
}

.rich-tab-header {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
}

.rich-table-cell {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
}

.extdt-cell {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
}

.extdt-subheadercell {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
}

.rich-ddmenu-label, .rich-ddmenu-label-disabled {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
}

.rich-mpnl-body {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
}

.rich-mpnl-text {
    font-family: Tahoma,Myriad Pro,Helvetica,sans-serif;
    color: #000000 !important;
}

.rich-mpnl-header {
    background-color: #D7DAC2 !important;
    border-color: #D7DAC2 !important;
    background-image: none !important;
}

.rich-mpnl-ovf-hd {
    overflow: visible;
}

.rich-table-header {
	background: #272F36 url("../images/rich-table-header-bg.png") repeat-x left top;
}

.rich-table-headercell {
    border-bottom: 1px solid #D7DAC2;
    border-right: 1px solid #D7DAC2;
    color: #272F36;
    font-family: Tahoma,Myriad Pro,Helvetica;
    font-size: 11px;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}
.rich-table-subheader {
    background-color: #FFFFFF;
}
.rich-tabhdr-cell-inactive{
	padding-top: 0px !important;
}
.search_result_block_inner .rich-extdt-maindiv{
	overflow-x: auto;
	overflow-y:hidden;
}