.firstCol250px{
	text-align: right;
	width: 250px;
	white-space: nowrap;
	vertical-align: top;
}

.firstCol250px label{
	padding-top: 2px;
	padding-left: 15px;
	right:0;
	text-align:right;
	white-space: nowrap;
	width: 250px;
	overflow-x: hidden;
	display: block;
	text-overflow: ellipsis;
	float: right;
}

.secondCol250px {
	width: 250px;
}

.secondCol250px select{
	width: 250px;
}
